<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instafake</title>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


</head>

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-container">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">Instafake</a>

        <ul class="nav navbar-nav">
            <li><a href="/api/protected/">Home</a></li>
            <li><a href="/api/protected/profile">Profile</a></li>
            <li><a href="/api/protected/logout">Log off</a><li>
        </ul>
    </div>

</div>
</nav>
</html>
<!-- sample navbar made with scotch.io's tutorial, https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
