<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Instafake</title>
      <link rel="stylesheet" href="/stylesheets/home.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <% include ./partials/_header.ejs %>
  </head>
  <body>
    <div id="feed">
       <% postIds.forEach(function(post) {
        var postIdIndex = postIds.indexOf(post);
        var theUserId = postUserIds[postIdIndex];
        var userIdIndex = userIds.indexOf(theUserId);
        var findName = usernames[userIdIndex];
        %>
        <div id="post-1">
          <div class="post-head">
            <div class="user-1-thumbnail">
                <a href="profile.ejs"><img src="/images/User-1.jpg" alt="User 1"/></a>
            </div>
            <div class="user">
              <h3><%= findName %></h3>
            </div>
          </div>
          <div class="post-body">
            <a href="profile.ejs" class="post-box"><img src="/images/Post-1.jpg" alt="Tracks!"/></a>
          </div>
          <div class="post-description">
            <p> Tracks! </p>
          </div>
          <div class="post-bottom">
            <div class="buttons">
                <button type="button">Edit</button>
                    <button type="button" onclick="submitdata();">Delete</button>
                </div>
            </div>
              <div id="holder">
                <div id="form">
                  <form action="/api/" method="post" enctype="application/x-www-form-urlencoded">
                    <div>
                      <label>Like</label>
                      <input type="button" value="Like">
                    </div>
                  </form>
                </div>
                <!-- <div class="box entypo-thumbs-up"> Like</div> -->
              </div>
              <div id="comments">
                <div id="form">
                  <form action="/api/" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="commentinfo">
                      <label>Comment:</label>
                      <input type="text" name="comment"/><br/>
                    </div>
                    <div>
                      <input type="submit"/>
                    </div>
                  </form>
                </div>
                </script>
              </div>
              </div>
              </div>
            </div>
          </div>
      <% }); %>
        </div>



      </div>
    </div>


      <footer>
        &copy; 2017
      </footer>



  </body>
</html>
