
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Instafake</title>
      <link rel="stylesheet" href="/stylesheets/home.css"/>
      <% include ./partials/_header.ejs %>
  </head>
  <body>
      <!-- <header>
      <div class="head">
        <h2>Empty</h2>
      </div>
      </header> -->
      <div id="feed">
        <div id="post-1">
          <div class="post-head">
            <div class="user-1-thumbnail">
                <a href="profile.ejs"><img src="/images/User-1.jpg" alt="User 1"/></a>
            </div>
            <div class="user">
              <h3>username</h3>
            </div>
          </div>
          <div class="post-body">
            <a href="profile.ejs" class="post-box"><img src="/images/Post-1.jpg" alt="Tracks!"/></a>
          </div>
          <div class="post-bottom">
            <div class="buttons">
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </div>
            <p> likes and comments </p>
          </div>
        </div>

        <div id="post-2">
          <div class="post-head">
            <div class="user-1-thumbnail">
                <a href="profile.ejs"><img src="/images/User-1.jpg" alt="User 1"/></a>
            </div>
            <div class="user">
              <h3>username</h3>
            </div>
          </div>
          <div class="post-body">
            <a href="profile.ejs" class="post-box"><img src="/images/Post-2.jpg" alt="Camel"/></a>
          </div>
          <div class="post-bottom">
            <div class="buttons">
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </div>
            <p> likes and comments </p>
          </div>
        </div>

  <!-- images resized in .post-box (css)  -->
        <div id="post-3">
          <div class="post-head">
            <div class="user-2-thumbnail">
                <a href="profile.ejs"><img src="/images/User-2.jpg" alt="User 2"/></a>
            </div>
            <div class="user">
              <h3>username</h3>
            </div>
          </div>
          <div class="post-body">
            <a href="profile.ejs" class="post-box"><img src="/images/Post-3.jpg" alt="Home court"/></a>
          </div>
          <div class="post-bottom">
            <div class="buttons">
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </div>
            <p> likes and comments </p>
          </div>
        </div>

        <div id="post-4">
          <div class="post-head">
            <div class="user-3-thumbnail">
                <a href="profile.ejs"><img src="/images/User-3.jpg" alt="User 3"/></a>
            </div>
            <div class="user">
              <h3>username</h3>
            </div>
          </div>
          <div class="post-body">
            <a href="profile.ejs" class="post-box"><img src="/images/Post-4.jpg" alt="Space Metropolis?"/></a>
          </div>
          <div class="post-bottom">
            <div class="buttons">
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </div>
            <p> likes and comments </p>
          </div>
        </div>



        <!-- post.description (in % ) -->
        <!--for likes, likesFindAll true with correct image_id & username to display users  -->
        <!--for comments, display all with correct image_id with comment and timestamp  -->
        <!-- FOR ALL OF THESE, check with Ajax on whether or not the GET method changes  -->
        <!-- also are we forgoing proflie pictures? becasue we'd have to insert a new column in the users table -->
        <!-- in order to call it on the home page...unless we just use the same picutre in the code -->
      </div>


      <footer>
        &copy; 2017
      </footer>

  </body>
</html>


<a href="/logout">Log Out</a>

<a href="/api/protected/profile">Profile</a>
