<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Instafake</title>
      <link rel="stylesheet" href="/stylesheets/out.css"/>
  </head>

  <body>
    <p> Thank you for visiting Instafake! </p>
  </body>

</html>
