<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<title>Instafake</title>
    	<link rel="stylesheet" href="/stylesheets/out.css"/>
	</head>
	<body>
  		<p> Session ended </p>
    	<p> Thank you for visiting Instafake! </p>
    	<a href="/api">Back to Log in</a>
  	</body>
</html>
