<h1>You are in</h1>

<!--
<form method="post" action="/profile" enctype="multipart/form-data">
	<div>
		<label>Description</label> <input type="text" placeholder="Description" name="description"/>
	</div>
	<div>
		<label>Image</label> <input type="file" name="userImage">
	</div>
	<div>
		<button type="submit">Upload</button>
	</div>
</form> -->
